
<div class="media-footer">
      <div class="media-action-bar">
        <div class="current-song-details">
            <img src="{{currentFileAvatar}}" alt="{{currentFileTitle}}">
            <div class="artist-details-container">
                <p class="song-title">{{currentFileTitle}}</p>
                <p class="song-credit">{{currentFileCredit}}</p>
            </div>
        </div>
        <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
        <button mat-button (click)="pause()" *ngIf="state?.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
        <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </div>
  </div>