<nav>
    <ul class="menu">
        <a class="toggle" href="#"><fa-icon [icon]="['fas', 'bars']"></fa-icon></a>
        <li class="menu-item"><a href="#">Top 40</a></li>
        <li class="menu-item"><a href="#">Album Top 40</a></li>
        <li class="menu-item"><a href="#">Tipparade</a></li>
        <li class="menu-item"><a href="#">Movie Top 40</a></li>
        <li class="menu-item"><a href="#">Other hitlists</a></li>
        <a class="toggle toggle-close" href="#"><fa-icon [icon]="['fas', 'times']"></fa-icon></a>
    </ul>
</nav>