ul {
    list-style-type: none;
    padding: 0 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

.toolbar-container {
    background-color: #1a1a13;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    cursor: pointer;
    width: 150px;
}

mat-toolbar {
    background-color: #1a1a13;
}

mat-sidenav-container {
    padding-bottom: 16px;
}

mat-sidenav {
    width: 50%;
}

mat-sidenav-content {
    margin: 0 16px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toggle {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.back-to-top-button {
    border-radius: 50%;
    background-color: #ec1c24;
    border: 1px solid #fff;
    color: #fff;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    box-shadow: #1a1a13 0px 8px 12px;
    cursor: pointer;
}

footer {
    background-color: #1a1a13;
    text-align: center;
    color: #fff;
    padding: 16px;
    border-top: 2px solid #ec1c24;
}

@media all and (min-width: 768px) {
    * {
        padding: 0 auto;
    }

    mat-toolbar {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0;
    }

    mat-sidenav {
        width: 25%;
        height: fit-content;
    }

    mat-sidenav-content {
        max-width: 1440px;
        margin: 0 auto;
    }

    router-outlet {
        height: 100vh;
    }

    ul {
        margin-left: 32px;
        margin-bottom: 32px;
    }

    .logo {
        width: 200px;
    }

    .back-to-top-button {
        bottom: 50px;
        right: 60px;
    }
}
