<div *ngIf="hitList">
    <h1>{{ hitList.name }}</h1>
    <h2>Week {{ hitList.week }} - {{ hitList.year }}</h2>

    <div class="filter-container">
        <mat-form-field appearance="fill">
            <mat-label>Week</mat-label>
            <mat-select [(value)]="selectedWeek">
                <mat-option *ngFor="let week of weeks" [value]="week">{{
                    week
                }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="selectedYear">
                <mat-option *ngFor="let year of years" [value]="year">{{
                    year
                }}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button>
            <!-- (click)="searchHitList(selectedWeek, selectedYear)" -->
            Search
        </button>
    </div>
    <!-- <p>You selected: {{ selectedWeek }} - {{ selectedYear }}</p> -->

    <div *ngFor="let position of activeHitListData">
        <mat-card
            class="song-summary"
            [routerLink]="['/details', position.titleId]"
        >
            <mat-card-header>
                <div mat-card-avatar class="image-container">
                    <img mat-card-avatar src="{{ position.imageMedium }}" />
                    <div class="overlay">
                        <p>
                            {{ position.position }}
                        </p>
                    </div>
                </div>
                <mat-card-title>{{ position.title }}</mat-card-title>
                <mat-card-subtitle>{{ position.credit }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <mat-paginator
        #paginator
        (page)="getPaginatorData($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [hidePageSize]="hidePageSize"
    ></mat-paginator>

    <div class="player-container">
        <iframe
            id="iframePlayer"
            class="e2e-iframe-trusted-src"
            [src]="videoUrl"
            height="180"
            width="320"
            onerror="this.style.display='none'"
            loading="lazy"
            title="Video clips of the hit songs"
            allowfullscreen
        ></iframe>
    </div>
</div>
