<mat-progress-spinner
    mode="indeterminate"
    color="warn"
    aria-label="loading"
    *ngIf="loading$ | async"
></mat-progress-spinner>

<div *ngIf="hitList">
    <header>
        <h1>{{ hitList.name }}</h1>
        <h2>Week {{ hitList.week }} - {{ hitList.year }}</h2>
    </header>

    <main>
        <div class="filter-container">
            <mat-form-field appearance="fill">
                <mat-label>Week</mat-label>
                <mat-select [(value)]="selectedWeek">
                    <mat-option *ngFor="let week of weeks" [value]="week">{{
                        week
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <mat-select [(value)]="selectedYear">
                    <mat-option *ngFor="let year of years" [value]="year">{{
                        year
                    }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button
                mat-raised-button
                (click)="findHitList(selectedWeek, selectedYear)"
            >
                Find hitlist
            </button>
        </div>

        <div *ngFor="let position of positions">
            <mat-card
                class="song-summary"
                [routerLink]="['/details', position.titleId]"
            >
                <mat-card-header>
                    <div mat-card-avatar class="image-container">
                        <img mat-card-avatar src="{{ position.imageMedium }}" />
                        <div class="overlay">
                            <p>
                                {{ position.position }}
                            </p>
                        </div>
                    </div>
                    <mat-card-title>{{ position.title }}</mat-card-title>
                    <mat-card-subtitle>{{ position.credit }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="status">
                    <p>Previous position: {{ position.prevPosition }}</p>
                    <p>Highest position: {{ position.highestPosition }}</p>
                    <p>Number of weeks: {{ position.numberOfWeeks }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-paginator
            #paginator
            (page)="getPaginatorData($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [hidePageSize]="hidePageSize"
        ></mat-paginator>

        <div class="player-container" *ngIf="hitList.positions[0].youtubeCode">
            <iframe
                class="iframePlayer"
                [src]="videoUrl"
                height="180"
                width="320"
                loading="lazy"
                title="Video clips of the hit songs"
                allowfullscreen
            ></iframe>
        </div>
    </main>
</div>
