<header>
    <nav>
        <div class="link-box">
            <span>
                <a routerLink="/home" routerLinkActive="active"><h1>TOP-40</h1></a>
            </span>
        </div>
        <ul>
            <li>
                <div class="link-box">
                    <span>
                        <a routerLink="/music" routerLinkActive="active">Music</a>
                    </span>
                </div>
            </li>
            <!-- <li>
                <div class="link-box">
                    <span>
                        <a routerLink="/contact" routerLinkActive="active">Contact</a>
                    </span>
                </div>
            </li> -->
        </ul>
    </nav>
</header>
