@import '../../../styles.scss';

.home{
    .albums-slider{
        margin-top: 10em;

        .carousel-cell{

            .album-img-box{


                img{
                    border-radius: 15px;
                    box-shadow: 0 0 50px #ccc;

                }
            }
        }

    }

}