<div class="home">
    <div class="albums-slider">
        <h3>Featured</h3>
        <h2>Top 40 Albums</h2>
        <carousel [cellWidth]=300
                  [cellsToShow]=7
                  [cellsToScroll]=3
                  [lightDOM]=true
                  [autoplay]=true
                  [autoplayInterval]=5000
                  [pauseOnHover]=true
                  [margin]=20
                  [arrowsOutside]=false
                  style="height: 400px; width: 100%;"
        >
            <div *ngFor="let album of albumsFiles; let i = index"
                 class="carousel-cell"
                 (click)="openAlbum(album)"
            >
                <div class="album-img-box">
                    <img  src="{{album.cover_img_url_medium}}" />
                    <p>#{{album.position}} - {{album.title}}</p>
                    <p>{{album.credit}}</p>
                </div>
            </div>
        </carousel>
    </div>
    <div class="weekly-hits">
        <h2>Weekly Hits</h2>
        <mat-list color="primary">
            <h3 mat-subheader>Songs</h3>
            <mat-list-item *ngFor="let song of songsFiles; let i = index"
                           (click)="openSong(song)"
            >
                <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
                <h4 mat-line>{{ song.title }}</h4>
                <h5 mat-line>by {{ song.credit }}</h5>
                <mat-icon color="primary" *ngIf="currentFile?.index === i && !state?.error">volume_up</mat-icon>
                <h6 *ngIf="currentFile?.index === i && state?.error">ERROR</h6>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
</div>

