mat-card-content {
    text-transform: capitalize;
}

mat-card-actions {
    text-align: right;
}

.hitlist-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
}
