.main-body{
    display: grid;
    grid-template-areas:
    'header main main main main'
    'header main main main main'
    'header main main main main';

    .header{
        grid-area: header;
    }

    .main{
        grid-area: main;
        padding: 2em 2em;
        height: 100vh;
    }

}