.main-body{
    position: relative;
    display: flex;
    background: #3f51b5;

    .header{
        flex: 20;
    }

    .main{
        flex: 80;
        padding: 2em 2em;
        height: 1887px;
    }

}

@media only screen and (max-width: 768px){
    .main-body{
        .header{

        }

        .main{
            height: 100%;
        }
    }
}